<div class="container">
  <div class="alert alert-warning" *ngIf="DonForm.invalid && DonForm.dirty">enter valid form</div>
  <h2>Add new class</h2>
  <form  (ngSubmit)="!DonForm.invalid&& save() " class="was-validated" #DonForm="ngForm">
    <div class="form-group">
      <label for="nomDonateur">nom Recuperant:</label>
      <input type="text" class="form-control" id="nomDonateur" placeholder="Enter nom Donateur" name="nomDonateur"  [(ngModel)]="gar.nomRecuperant"required>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>


    <div class="form-group">
      <label for="reception">Date reception de l'offre:</label>
      <input type="date" class="form-control" id="reception" placeholder="Enter reception" name="reception"  [ngModel]=gar.datededepot
             required>
      <div class="valid-feedback">Valide.</div>
      <div class="invalid-feedback">Veuillez remplir ce champ.</div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="DonForm.invalid">Submit</button>
  </form>
</div>

