<div class="container">
  <div class="alert alert-warning" *ngIf="DonForm.invalid && DonForm.dirty">enter valid form</div>
  <h2>Add new class</h2>
  <form  (ngSubmit)="!DonForm.invalid&& accepter(Don.don_id , Don) " class="was-validated" #DonForm="ngForm">
    <div class="form-group">
      <label for="nomDonateur">nom Donateur:</label>
      <input type="text" class="form-control" id="nomDonateur" placeholder="Enter nom Donateur" name="nomDonateur"  [(ngModel)]="Don.nomDonateur"required>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <div class="form-group">
      <label for="type">type:</label>
      <input type="text" class="form-control" id="type" placeholder="Enter type" name="type"  [(ngModel)]="Don.type"required>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <div class="form-group">
      <label for="reference">reference:</label>
      <input type="text" class="form-control" id="reference" placeholder="Enter reference" name="reference"  [(ngModel)]="Don.reference"required>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <div class="form-group">
      <label for="adresse">adresse:</label>
      <input type="text" class="form-control" id="adresse" placeholder="Enter Class name" name="adresse"  [(ngModel)]="Don.adresse"required>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <div class="form-group">
      <label for="tel">tel:</label>
      <input type="text" class="form-control" id="tel" placeholder="Enter telephone number" name="tel"  [(ngModel)]="Don.tel"required>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <div class="form-group">
      <label for="reception">Date reception:</label>
      <input type="date" class="form-control" id="reception" placeholder="Enter reception" name="reception"
             [ngModel]="Don.dateReception |  date: 'yyyy-MM-dd'" (ngModelChange)="Don.dateReception= $event"
             required>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <div class="form-group">
      <label for="description">description:</label>
      <input type="text" class="form-control" id="description" placeholder="Enter description" name="description"  [(ngModel)]="Don.description"required>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <div class="form-group">
      <label for="description">membre Association:</label>
      <input type="text" class="form-control" id="membreAssociation" placeholder="Enter membre Association" name="membreAssociation"  [(ngModel)]="Don.membreAssociation"required>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <div class="form-group">
      <label for="description">transporteur:</label>
      <input type="text" class="form-control" id="transporteur" placeholder="Enter transporteur" name="transporteur"  [(ngModel)]="Don.transporteur"required>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <div class="form-group">
      <label for="description">vehicule:</label>
      <input type="text" class="form-control" id="vehicules" placeholder="Enter vehicules" name="vehicules"  [(ngModel)]="Don.vehicules"required>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>


    <div class="form-group">
      <label for="description">lieu Stockage:</label>
      <!--<input type="text" class="form-control" id="lieuStockage" placeholder="Enter lieu Stockage" name="lieuStockage"  [(ngModel)]="Don.lieuStockage"required>-->
      <select [(ngModel)]="Don.lieuStockage" name="lieuStockage"  >
        <option *ngFor="let c of lieu"  [value]="c.Name"> {{c.Name}}</option>
      </select>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>


    <div class="form-group">
      <label for="reception">Date acceptation l'offre:</label>
      <input type="date" class="form-control" id="dataAcceptation" placeholder="Enter reception" name="dataAcceptation"  [ngModel]=Don.dataAcceptation
             required>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <div class="form-group">
      <label for="reception">Date Transport :</label>
      <input type="date" class="form-control" id="dateTransport" placeholder="Enter reception" name="dateTransport"  [ngModel]="Don.dateTransport |  date: 'yyyy-MM-dd'"
             (ngModelChange)="Don.dateTransport= $event"
             required>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="DonForm.invalid">Submit</button>
  </form>
</div>

