<div class="container">
  <div class="alert alert-warning" *ngIf="DonForm.invalid && DonForm.dirty">enter valid form</div>
  <h2>formulaire don</h2>
  <form  (ngSubmit)="!DonForm.invalid && save()" class="was-validated" #DonForm="ngForm">
    <div class="form-group">
      <label for="nomDonateur">nom Donateur:</label>
      <input type="text" class="form-control" id="nomDonateur" placeholder="Enter nom Donateur" name="nomDonateur"  [(ngModel)]="Don.nomDonateur"required>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <div class="form-group">
      <label for="type">type:</label>
      <input type="text" class="form-control" id="type" placeholder="Enter type" name="type"  [(ngModel)]="Don.type"required>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <div class="form-group">
      <label for="reference">reference:</label>
      <input type="text" class="form-control" id="reference" placeholder="Enter reference" name="reference"  [(ngModel)]="Don.reference"required>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <div class="form-group">
      <label for="adresse">adresse:</label>
      <input type="text" class="form-control" id="adresse" placeholder="Enter Class name" name="adresse"  [(ngModel)]="Don.adresse"required>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <div class="form-group">
      <label for="tel">tel:</label>
      <input type="text" class="form-control" id="tel" placeholder="Enter telephone number" name="tel"  [(ngModel)]="Don.tel"required>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <div class="form-group">
      <label for="reception">Date reception de l'offre:</label>
      <input type="date" class="form-control" id="reception" placeholder="Enter reception" name="reception"  [ngModel]=Don.dateReception
              required>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <div class="form-group">
      <label for="description">description:</label>
      <input type="text" class="form-control" id="description" placeholder="Enter description" name="description"  [(ngModel)]="Don.description"required>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <div>
      <img height="100" src="{{photo}}" />
      <p>                 <button class="btn btn-dark" (click)="onEditPhoto(Don2)">edit</button></p>
      <p >
        <input type="file" (change)="onSelectedFile($event)">
        <button class="btn btn-success" (click)="upload()">upload</button>
      </p>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="DonForm.invalid">Submit</button>
  </form>
</div>
